@{
    ViewData["Title"] = "Groups";
}

<style>
    @@media only screen and (max-width: 600px) {
        .card {
            width: 500px;
        }
    }
</style>


<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">My Groups</h1>
    </div>
</div>

@if (ViewBag.Groups.Count == 0)
{
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">You have no reviews.</h1>
        </div>
    </div>
}
else
{
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            @foreach (var group in ViewBag.Groups)
            {
                <div class="col-sm-4 d-flex align-items-stretch portfolio-item">
                    <div class="card">
                        <img src="@group.GroupPictureUrl" class="card-img-top" />
                        <hr />
                        <div class="card-body">
                            <h1 class="text-center card-title">@group.GroupName</h1>
                            <p class="card-text">@group.Description</p>
                            <a class="card-link" asp-controller="Group" asp-action="ViewGroup" asp-route-GroupId="@group.GroupId"><i class="fas fa-book-reader"></i> View</a>
                            @if (group.GroupCreatorId == ViewBag.PersonId && ViewBag.Controller == "Home")
                            {
                                <a class="card-link" style="color:red;" asp-controller="Group" asp-action="DeleteGroup" asp-route-GroupId="@group.GroupId"><i class="fas fa-trash-alt"></i> Delete</a>
                            }
                        </div>
                    </div>
                    <br />
                </div>
            }
        </div>
        <hr>
    </div> <!-- /container -->
}