@{
    ViewData["Title"] = "Blogs";
}

<style>
    .card {
        width: 300px;
        border: 2px solid;
    }

    .jumbotron {
        background: rgba(71, 71, 71, 0.5);
        color: white;
    }

    @@media (max-width: 768px) {
        .card {
            width: 500px;
        }

        .col-sm-2 {
            padding-bottom: 20px;
        }
    }

    .link_footer {
        font-size: 24px;
        text-align: center;
    }
</style>

<div id="content">
    <div class="jumbotron">
        <div class="container-fluid">
            <h1 class="display-3">Blogs</h1>
        </div>
    </div>

    @if (ViewBag.Blogs.Count == 0)
    {
        <div class="jumbotron">
            <div class="container-fluid">
                <h1 class="display-4">You have no blogs.</h1>
            </div>
        </div>
    }
    else
    {
        <!-- Example row of columns -->
        <div class="container-fluid">
            @foreach (var blog in ViewBag.Blogs)
            {
                <div class="row mb-4" style="background: rgba(71, 71, 71, 0.5);">
                    <div class="col-md-2" style="padding: 20px;">
                        <a asp-controller="Blog" asp-action="ReadBlog" asp-route-BlogId="@blog.BlogId">
                            <img src="@blog.PictureUrl" class="rounded-0 img-thumbnail thumbnail" style="border: solid 5px green;" />
                        </a>
                    </div>
                    <div class="col-md-9" style="padding: 20px;">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>
                                    <a class="card-link link_footer" asp-controller="Blog" asp-action="ReadBlog" asp-route-BlogId="@blog.BlogId">@blog.Title</a>
                                </h1><br>
                                <h3 style="color:white;">@blog.ModifiedDescription()</h3>
                            </div>
                            <div class="col-md-12" style="padding-top: 50px;">
                                <a class="card-link link_footer" asp-controller="Blog" asp-action="ReadBlog" asp-route-BlogId="@blog.BlogId"><i class="fas fa-book-reader"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr>
    }
</div>