@{
    ViewData["Title"] = "Groups";
}

<style>
    .card {
        width: 300px;
        border: 2px solid;
    }

    a {
        text-decoration: none;
        color:white;
    }
    a:hover {
        text-decoration: underline; 
        color:red;
    }

    .col-sm-2 {
        padding-bottom: 5px;
    }

    .fa-book-reader {
        color:green;
    }

    @@media (max-width: 768px) {
        .card {
            width: 500px;
        }
    }
</style>

<div id="content">
    <div class="jumbotron">
        <div class="container-fluid">
            <h1 class="display-3 text-center">Groups</h1>
        </div>
    </div>

    @if (ViewBag.Groups.Count == 0)
    {
        <div class="jumbotron">
            <div class="container-fluid">
                <h1 class="display-5">You have no groups.</h1>
            </div>
        </div>
    }
    else
    {
        <!-- Example row of columns -->
        <div class="container-fluid">
            @foreach (var group in ViewBag.Groups)
            {
                <div class="row mb-4" style="background: rgba(71, 71, 71, 0.5);">
                    <div class="col-md-2" style="padding: 20px;">
                        <a asp-controller="Group" asp-action="ViewGroup" asp-route-GroupId="@group.GroupId">
                            <img src="@group.GroupPictureUrl" class="rounded-0 img-thumbnail" style="border: solid 1px;" />
                        </a>
                    </div>
                    <div class="col-md-9" style="padding: 20px;">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>
                                    <a asp-controller="Group" asp-action="ViewGroup" asp-route-GroupId="@group.GroupId">@group.GroupName</a>
                                </h1><br>
                                <h3 style="color:white;">
                                    @group.Description
                                </h3>
                            </div>
                            <div class="col-md-12" style="padding-top: 50px;">
                                <a class="card-link" asp-controller="User" asp-action="LeaveGroup" asp-route-GroupId="@group.GroupId"><i class="fas fa-sign-out-alt"></i> Leave</a>
                                <a class="card-link" asp-controller="User" asp-action="DeleteGroup" asp-route-GroupId="@group.GroupId"><i class="fas fa-trash-alt"></i> Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr>
    }
</div>