@model Person
@{
    ViewData["Title"] = "User Page";
}

<style>
    .card {
        border: 1px solid white;
        background: rgba(71, 71, 71, 0.7);
    }

    .btn-group {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

        .btn-group a {
            padding: 10px;
        }

    .py-1 {
        background: rgba(71, 71, 71, 0.5);
        color: white;
        border: 1px solid
    }

    a {
        color: white;
    }

        a:hover {
            color: red;
        }

    .add {
        font-size: 18px;
    }

    .card-footer {
        background: rgba(71, 71, 71, 1);
    }

    @@media (max-width: 768px) {
        .add {
            width: 100%;
            font-size: 18px;
        }

        .action, .card-footer {
            font-size: 18px;
        }
    }
</style>

<div id="content">
    <!-- Header - set the background image for the header in the line below -->
    <header class="py-1 bg-image-full">
        <h1 class="text-center">
            @Model.Name<br />
        </h1>
        <h5 class="text-center">
            @if (Model.PersonId != ViewBag.PersonId && Model.IsFriend)
            {
                <a style="color:red;" asp-controller="User" asp-action="RemoveFriend" asp-route-PersonTwoId="@Model.PersonId"><i class="fas fa-trash-alt"></i> Remove Friend</a>
            }
            else if (Model.PersonId != ViewBag.PersonId && !Model.IsFriend)
            {
                <a style="color:deepskyblue;" asp-controller="User" asp-action="AddFriend" asp-route-PersonTwoId="@Model.PersonId"><i class="fas fa-user-plus"></i> Add Friend</a>
            }
        </h5>
        <img class="img-fluid d-block mx-auto" src="https://robohash.org/@Model.Name" alt="">
        <p class="text-center text-light">
            @Model.ProfileDescription
            @if (Model.PersonId == ViewBag.PersonId)
            {
                <a asp-controller="User" asp-action="Edit" asp-route-id="@ViewBag.PersonId"><i class="fas fa-edit"></i> Edit</a>
            }

            <div class="btn-group">
                <a style="color:deeppink;" asp-controller="User" asp-action="Friends" asp-route-id="@Model.PersonId"><i class="fas fa-user-friends"></i> Friends</a>
                <a style="color:darkgreen;" asp-controller="User" asp-action="Groups" asp-route-id="@Model.PersonId"><i class="fas fa-layer-group"></i> Groups</a>
                <a style="color:orange;" asp-controller="User" asp-action="Blogs" asp-route-id="@Model.PersonId"><i class="fab fa-blogger"></i> Blogs</a>
                <a style="color:red;" asp-controller="User" asp-action="Stores" asp-route-id="@Model.PersonId"><i class="fas fa-store"></i> Stores</a>
                <a style="color:gold;" asp-controller="User" asp-action="Reviews" asp-route-id="@Model.PersonId"><i class="fas fa-comment-dots"></i> Reviews</a>
            </div>
        </p>
    </header>

    <br/>
    <div class="card">
        <form method="post" asp-controller="User" asp-action="AddWallPost">
            <input type="text" name="id" value=@Model.PersonId hidden />
            <input type="text" name="UserIdOfProfile" class="form-control" value=@Model.PersonId hidden />
            <textarea type="text" name="Description" class="form-control" placeholder="New Post" required></textarea>
            <button class="add" type="submit"><i class="fas fa-plus-square"></i></button>
        </form>
    </div>

    <br/>
    <!-- Wall Post -->
    @foreach (var post in Model.WallPosts)
    {
        <div class="card mb-4">
            <div class="card-body">
                <p class="card-text text-light">@post.Description</p>
            </div>
            <!-- Main Posts -->
            <div class="card-footer text-muted">
                Posted on @post.DatePosted by
                <a asp-controller="User" asp-action="Index" asp-route-id="@post.PosterId">@post.PosterName</a>
                @if (ViewBag.PersonId == post.PosterId)
                {
                    <div class="btn-group-sm">
                        <a class="action" asp-controller="User" asp-action="EditWallPost" asp-route-id="@Model.PersonId" asp-route-WallPostId="@post.WallPostId"><i class="fas fa-edit"></i></a>
                        <a class="action" asp-controller="User" asp-action="DeleteWallPost" asp-route-id="@Model.PersonId" asp-route-WallPostId="@post.WallPostId"><i class="fas fa-trash-alt"></i></a>
                    </div>
                }
            </div>
            <!-- Replies to the Main Posts -->
            @foreach (var reply in post.Replies)
            {
                <div class="card-body">
                    <p class="card-text text-light">@reply.Description</p>
                </div>
                <div class="card-footer text-muted">
                    Posted on @reply.DatePosted by
                    <a asp-controller="User" asp-action="Index" asp-route-id="@reply.PosterId">@reply.PosterName</a>
                    @if (ViewBag.PersonId == reply.PosterId)
                    {
                        <div class="btn-group-sm">
                            <a class="action" asp-controller="User" asp-action="EditReplyPost" asp-route-id="@Model.PersonId" asp-route-ReplyPostId="@reply.ReplyPostId"><i class="fas fa-edit"></i></a>
                            <a class="action" asp-controller="User" asp-action="DeleteReplyPost" asp-route-id="@Model.PersonId" asp-route-ReplyPostId="@reply.ReplyPostId"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    }
                </div>
            }
            <form method="post" asp-controller="User" asp-action="AddReplyPost">
                <textarea type="text" name="Description" class="form-control" placeholder="New Reply" required></textarea>
                <input type="text" name="WallPostId" class="form-control" value=@post.WallPostId hidden />
                <input type="text" name="n" value=@Model.Name hidden />
                <button class="add" type="submit"><i class="fas fa-plus-square"></i></button>
            </form>
        </div>
    }
</div>