@model Person
@{
    ViewData["Title"] = "User Page";
}

<style type="text/css">
    .card-img-top {
        border-style: solid;
        border-color: blue;
    }
</style>

<div class="row">
    <!-- About me -->
    <div class="card" style="width: 18rem;">
        <h1 class="text-center">@Model.Name</h1>
        <img class="card-img-top" src="https://robohash.org/@Model.Name" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">About Me</h5>
            <p class="card-text">@Model.ProfileDescription</p>
            <a href="">Friends (@Model.Friends.Count)</a>
        </div>
    </div>
    <!-- Timeline Entries Column -->
    <div class="col-md-8">
        <h1 class="my-4">Timeline Posts</h1>
        <form method="post" asp-controller="User" asp-action="AddTimelinePost">
            <input type="text" name="n" value=@Model.Name hidden />
            <input type="text" name="UserIdOfProfile" class="form-control" value=@Model.PersonId hidden />
            <textarea type="text" name="Description" class="form-control" placeholder="New Post" required></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Post</button>
        </form>
        <br /><br />
        <!-- Timeline Post -->
        @foreach (var post in Model.TimelinePosts)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">@post.Description</p>
                </div>
                <!-- Main Posts -->
                <div class="card-footer text-muted">
                    Posted on @post.DatePosted by
                    <a asp-controller="User" asp-action="Index" asp-route-name="@post.PosterName">@post.PosterName</a>
                    @if (ViewBag.PersonId == post.PosterId)
                    {
                        <a asp-controller="User" asp-action="EditTimelinePost" asp-route-name="@Model.Name" asp-route-TimelinePostId="@post.TimelinePostId">Edit</a>
                        <a asp-controller="User" asp-action="DeleteTimelinePost" asp-route-n="@Model.Name" asp-route-TimelinePostId="@post.TimelinePostId">Delete</a>
                    }
                </div>
                <!-- Replies to the Main Posts -->
                @foreach (var reply in post.Replies)
                {
                    <div class="card-body">
                        <p class="card-text">@reply.Description</p>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on @reply.DatePosted by
                        <a asp-controller="User" asp-action="Index" asp-route-name="@reply.PosterName">@reply.PosterName</a>
                        @if (ViewBag.PersonId == reply.PosterId)
                        {
                            <a asp-controller="User" asp-action="EditReplyPost" asp-route-name="@Model.Name" asp-route-ReplyPostId="@reply.ReplyPostId">Edit</a>
                            <a asp-controller="User" asp-action="DeleteReplyPost" asp-route-n="@Model.Name" asp-route-ReplyPostId="@reply.ReplyPostId">Delete</a>
                        }
                    </div>
                }
                <form method="post" asp-controller="User" asp-action="AddReplyPost">
                    <textarea type="text" name="Description" class="form-control" placeholder="New Reply" required></textarea>
                    <input type="text" name="TimelinePostId" class="form-control" value=@post.TimelinePostId hidden />
                    <input type="text" name="n" value=@Model.Name hidden />
                    <button class="btn btn-lg btn-primary" type="submit">Add Reply</button>
                </form>
            </div>
        }
    </div>
</div>