@model Person
@{
    ViewData["Title"] = "User Page";
}

<style type="text/css">
    .card-img-top {
        border: 1px solid black;
        border-color: black;
    }

    .col-md-8 {
        border: 1px solid;
        background-color: #f5f5dc;
    }

    .card {
        border: 1px solid;
        background-color: #f5f5dc;
    }

    button {
        background: Transparent no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        float:left;
    }

    .mb-4 {
        background-color: azure;
    }

    .fa-edit {
        color:green;
    }

    .fa-trash-alt {
        color:red;
    }

    .fa-plus-square {
        color:blue;
        font-size: 2em;
    }
</style>

<div class="row">
    <!-- About me -->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://robohash.org/@Model.Name" alt="Card image cap">
        <h1 class="text-center">@Model.Name</h1>
        <div class="card-body">
            <h5 class="card-title">About Me</h5>
            <p class="card-text">@Model.ProfileDescription</p>
            <a asp-controller="User" asp-action="Friends" asp-route-id="@Model.PersonId"><i class="fas fa-user-friends"></i> Friends (@Model.Friends.Count)</a><br />
            <a asp-controller="User" asp-action="Groups" asp-route-id="@Model.PersonId"><i class="fas fa-layer-group"></i> Groups (@Model.Groups.Count)</a><br />
            <a asp-controller="User" asp-action="Blogs" asp-route-id="@Model.PersonId"><i class="fab fa-blogger"></i> Blogs (@Model.Blogs.Count)</a><br />
            <a asp-controller="User" asp-action="Stores" asp-route-id="@Model.PersonId"><i class="fas fa-store"></i> Stores (@Model.Stores.Count)</a><br />
            <a asp-controller="User" asp-action="Reviews" asp-route-id="@Model.PersonId"><i class="fas fa-comment-dots"></i> Reviews (@Model.Reviews.Count)</a>
        </div>
    </div>
    <!-- Wall Entries Column -->
    <div class="col-md-8">
        <h1 class="my-4">My Wall</h1>
        <form method="post" asp-controller="User" asp-action="AddWallPost">
            <input type="text" name="id" value=@Model.PersonId hidden />
            <input type="text" name="UserIdOfProfile" class="form-control" value=@Model.PersonId hidden />
            <textarea type="text" name="Description" class="form-control" placeholder="New Post" required></textarea>
            <button type="submit"><i class="fas fa-plus-square"></i></button>
        </form>
        <br /><br />
        <!-- Wall Post -->
        @foreach (var post in Model.WallPosts)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">@post.Description</p>
                </div>
                <!-- Main Posts -->
                <div class="card-footer text-muted">
                    Posted on @post.DatePosted by
                    <a asp-controller="User" asp-action="Index" asp-route-id="@post.PosterId">@post.PosterName</a>
                    @if (ViewBag.PersonId == post.PosterId)
                    {
                        <a asp-controller="User" asp-action="EditWallPost" asp-route-id="@Model.PersonId" asp-route-WallPostId="@post.WallPostId"><i class="fas fa-edit"></i></a>
                        <a asp-controller="User" asp-action="DeleteWallPost" asp-route-id="@Model.PersonId" asp-route-WallPostId="@post.WallPostId"><i class="fas fa-trash-alt"></i></a>
                    }
                </div>
                <!-- Replies to the Main Posts -->
                @foreach (var reply in post.Replies)
                {
                    <div class="card-body">
                        <p class="card-text">@reply.Description</p>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on @reply.DatePosted by
                        <a asp-controller="User" asp-action="Index" asp-route-id="@reply.PosterId">@reply.PosterName</a>
                        @if (ViewBag.PersonId == reply.PosterId)
                        {
                            <a asp-controller="User" asp-action="EditReplyPost" asp-route-id="@Model.PersonId" asp-route-ReplyPostId="@reply.ReplyPostId"><i class="fas fa-edit"></i></a>
                            <a asp-controller="User" asp-action="DeleteReplyPost" asp-route-id="@Model.PersonId" asp-route-ReplyPostId="@reply.ReplyPostId"><i class="fas fa-trash-alt"></i></a>
                        }
                    </div>
                }
                <form method="post" asp-controller="User" asp-action="AddReplyPost">
                    <textarea type="text" name="Description" class="form-control" placeholder="New Reply" required></textarea>
                    <input type="text" name="WallPostId" class="form-control" value=@post.WallPostId hidden />
                    <input type="text" name="n" value=@Model.Name hidden />
                    <button type="submit"><i class="fas fa-plus-square"></i></button>
                </form>
            </div>
        }
    </div>
</div>