@{
    ViewData["Title"] = "Friends";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        @foreach (var person in ViewBag.Friends)
        {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="https://robohash.org/@person.Name" class="card-img-top" />
                <h1 class="text-center">@person.Name</h1>
                <p class="card-text">@person.ProfileDescription</p>
                <a class="card-link" asp-controller="User" asp-action="Index" asp-route-id="@person.PersonId">View User</a>
                <a class="card-link" asp-controller="Home" asp-action="RemoveFriend" asp-route-name="@person.Name" asp-route-PersonTwoId="@person.PersonId">Remove Friend</a>
            </div>
        </div>
        }
    </div>
    <hr>
</div> <!-- /container -->
