@{
    ViewData["Title"] = "Home Page";
    var person = (Person)ViewData["Person"];

}

<style type="text/css">
    .card-img-top {
        border-style: solid;
        border-color: blue;
    }
</style>

<div class="row">
    <!-- About me-->
    <div class="card" style="width: 18rem;">
        <h1 class="text-center">@person.Name</h1>
        <img class="card-img-top" src="https://robohash.org/@person.Name" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">About Me <a class="btn btn-sm btn-primary" asp-controller="Home" asp-action="Edit">Edit</a></h5>
            <p class="card-text">@person.ProfileDescription</p>
            <a asp-controller="Home" asp-action="Friends">Friends (@person.Friends.Count)</a><br/>
            <a asp-controller="Home" asp-action="Groups">Groups (@person.Groups.Count)</a>
        </div>
    </div>
    <!-- Wall Entries Column -->
    <div class="col-md-8">
        <h1 class="my-4">Wall Posts</h1>
        <form method="post" asp-controller="Home" asp-action="AddWallPost">
            <textarea type="text" name="Description" class="form-control" placeholder="New Post" required></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add Post</button>
        </form>
        <br /><br />
        <!-- Wall Post -->
        @foreach (var post in ViewBag.WallPosts)
        {
            <div class="card mb-4">
                <div class="card-body">
                    <p class="card-text">@post.Description</p>
                </div>
                <!-- Main Posts -->
                <div class="card-footer text-muted">
                    Posted on @post.DatePosted by
                    <a asp-controller="User" asp-action="Index" asp-route-name="@post.PosterName">@post.PosterName</a>
                    @if(person.PersonId == post.PosterId) {
                        <a asp-controller="Home" asp-action="EditWallPost" asp-route-WallPostId="@post.WallPostId">Edit</a>
                        <a asp-controller="Home" asp-action="DeleteWallPost" asp-route-WallPostId="@post.WallPostId">Delete</a>
                    }
                </div>
                <!-- Replies to the Main Posts -->
                @foreach (var reply in post.Replies)
                {
                    <div class="card-body">
                        <p class="card-text">@reply.Description</p>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on @reply.DatePosted by
                        <a asp-controller="User" asp-action="Index" asp-route-name="@reply.PosterName">@reply.PosterName</a>
                        @if (person.PersonId == reply.PosterId)
                        {
                            <a asp-controller="Home" asp-action="EditReplyPost" asp-route-ReplyPostId="@reply.ReplyPostId">Edit</a>
                            <a asp-controller="Home" asp-action="DeleteReplyPost" asp-route-ReplyPostId="@reply.ReplyPostId">Delete</a>
                        }
                    </div>
                }
                <form method="post" asp-controller="Home" asp-action="AddReplyPost">
                    <textarea type="text" name="Description" class="form-control" placeholder="New Reply" required></textarea>
                    <input type="text" name="WallPostId" class="form-control" value=@post.WallPostId hidden />
                    <button class="btn btn-sm btn-primary" type="submit">Add Reply</button>
                </form>
            </div>
        }
    </div>
</div>