
@{
    ViewData["Title"] = "Reviews";
}

<style>
    .card {
            width: 300px;
    }

    @@media only screen and (max-width: 600px) {
        .card {
            width: 500px;
        }
    }
</style>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">My Reviews</h1>
    </div>
</div>

@if (ViewBag.ItemsReviewed.Count == 0)
{
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">You have no reviews.</h1>
        </div>
    </div>
}
else
{
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            @foreach (var itemReview in ViewBag.ItemsReviewed)
            {
                <div class="col-sm-4 d-flex align-items-stretch portfolio-item">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="@itemReview.ItemImageUrl">
                            <h1><a asp-controller="Marketplace" asp-action="StoreItem" asp-route-StoreId="@itemReview.StoreId" asp-route-StoreItemId="@itemReview.StoreItemId">@itemReview.ItemName</a></h1>
                            @foreach (var review in itemReview.Reviews)
                            {
                                <p class="lead">@review.Description</p>
                                <div class="card-footer text-muted">
                                    Reviewed on @review.DatePosted
                                </div>
                                <hr />
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr>
    </div> <!-- /container -->
}
