
@{
    ViewData["Title"] = "Cart";
}

@model Order

<style>
    .lead {
        text-align: right;
    }
</style>

<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                            <a asp-controller="Marketplace" asp-action="StoreItem" asp-route-StoreId="@item.StoreId" asp-route-OrderItemId="@item.StoreItemId">@item.OrderItemName</a>
                        </h5>
                    </div>
                    <small><a asp-controller="Marketplace" asp-action="DeleteOrderItem" asp-route-OrderItemId="@item.OrderItemId">Delete</a></small>
                </td>
                <td>$@item.OrderItemPrice</td>
                <td>@item.OrderItemQuantity</td>
            </tr>
        }
    </tbody>
</table>
<hr />

<p class="lead">
    TOTAL: $@Model.Total
</p>

<a class="btn btn-info lead" asp-controller="Marketplace" asp-action="Checkout" asp-route-OrderId="@Model.OrderId">Checkout</a>
