@{
    ViewData["Title"] = "Shop Page";
}

<style>
    .btn-group a {
        padding: 20px;
        width: 200px;
    }

    .fa-plus-square {
        color: orange;
    }

    @@media (max-width: 768px) {
        .btn-group a {
            padding: 20px;
            width: 100%;
        }
    }
</style>

<div id="content">
    <div class="jumbotron">
        <div class="container-fluid">
            <h1 class="display-3 text-light">@ViewBag.Store.StoreName</h1>
        </div>
    </div>

    <div>
        <div class="btn-group">
            <a asp-controller="Marketplace" asp-action="Cart" class="btn btn-info">View Cart</a>
            <a asp-controller="Marketplace" asp-action="SalesHistory" class="btn btn-dark">View Sales History</a>
            <a asp-controller="Marketplace" asp-action="OrderHistory" class="btn btn-secondary">View Order History</a>
        </div>
        @if (ViewBag.Store.StoreOwnerId == ViewBag.PersonId)
        {
            <br /> <br />
            <div class="btn-group">
                <a class="btn btn-warning" asp-controller="Marketplace" asp-action="AddStoreItem" asp-route-StoreId="@ViewBag.Store.StoreId">Add Item</a>
                <a class="btn btn-success" asp-controller="Marketplace" asp-action="EditStore" asp-route-StoreId="@ViewBag.Store.StoreId">Edit Store</a>
                <a class="btn btn-danger" asp-controller="Marketplace" asp-action="DeleteStore" asp-route-StoreId="@ViewBag.Store.StoreId">Delete Store</a>
            </div>
        }
    </div>

    <br />

    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var item in ViewBag.Store.Items)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card">
                                <img class="card-img-top" src="@item.ItemImageUrl" alt="">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a asp-controller="Marketplace" asp-action="StoreItem" asp-route-StoreId="@item.StoreId" asp-route-StoreItemId="@item.StoreItemId">@item.ItemName</a>
                                    </h4>
                                    <h5></h5>
                                    <p class="card-text">@item.ItemDescription</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>