@{
    ViewData["Title"] = "StoreItem";
}
@model StoreItem

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-9">

            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="@Model.ItemImageUrl" width="800px" height="400px" alt="">
                <div class="card-body">
                    <h1 class="card-title">@Model.ItemName</h1>
                    <h4>Condition: @Model.ItemCondition</h4>
                    <h4>Price: @Model.Price</h4>
                    <h4>Quantity: @Model.Quantity</h4>
                    <p class="card-text">@Model.ItemDescription</p>
                    <a asp-controller="Marketplace" asp-action="EditStoreItem" asp-route-StoreId="@Model.StoreId" asp-route-StoreItemId="@Model.StoreItemId">Edit</a>
                    <a asp-controller="Marketplace" asp-action="DeleteStoreItem" asp-route-StoreId="@Model.StoreId" asp-route-StoreItemId="@Model.StoreItemId">Delete</a>
                </div>
            </div>
            <!-- /.card -->

            <!-- Comments/Reviews -->
            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                    <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                    <hr>
                    <a href="#" class="btn btn-success">Leave a Review</a>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>

</div>
<!-- /.container -->
