@{
    ViewData["Title"] = "Shop Page";
}

<style>
    .fa-plus-square {
        color: orange;
    }

    .card {
        width: 300px;
        height: 500px;
        border: 2px solid;
    }
</style>

<div id="content">
    <div class="jumbotron">
        <div class="container-fluid">
            <h1 class="display-3 text-light">@ViewBag.Store.StoreName</h1>
        </div>
    </div>

    <div>
        <partial name="_MarketplaceBarPartial" />
        @if (ViewBag.Store.StoreOwnerId == ViewBag.PersonId)
        {
            <br /> <br />
            <div class="btn-group">
                <a class="btn btn-warning" asp-controller="Marketplace" asp-action="AddStoreItem" asp-route-StoreId="@ViewBag.Store.StoreId">Add Item</a>
                <a class="btn btn-success" asp-controller="Marketplace" asp-action="EditStore" asp-route-StoreId="@ViewBag.Store.StoreId">Edit Store</a>
                <a class="btn btn-danger" asp-controller="Marketplace" asp-action="DeleteStore" asp-route-StoreId="@ViewBag.Store.StoreId">Delete Store</a>
            </div>
        }
    </div>

    <br />

    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in ViewBag.Store.Items)
            {
                <div class="col-sm-2 portfolio-item">
                    <div class="card">
                        <img class="card-img-top" src="@item.ItemImageUrl" width="740px" height="300px" alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a asp-controller="Marketplace" asp-action="StoreItem" asp-route-StoreId="@item.StoreId" asp-route-StoreItemId="@item.StoreItemId">@item.ItemName</a>
                            </h4>
                            <h5></h5>
                            <p class="card-text">@item.ItemDescription</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>